{{ chapter('Introduction', 'introduction', 1) }}

<div class="slide">
{{ part('Qu\'est-ce que Slidey ?') }}
<h3>Présentation</h3>
<p>
    <b>Slidey</b> est un outil de génération de documents que l'on pourrait
comparer à <a href="http://sphinx-doc.org/">Sphinx</a> ou 
<a href="http://www.latex-project.org/">LaTeX</a>. Le but de ce système est&nbsp;:
</p>
<ul>
    <li class="discover">De permettre de mélanger support et slides pour les présentations</li>
    <li class="discover">De n'utiliser que des technologies web (HTML, JS, PHP)</li>
    <li class="discover">D'être léger et facile à utiliser</li>
</ul>
<p class="discover">
    <b>Slidey</b> est conçu pour être adapté à la création de support de cours, de
documentation ou de présentation (conférence...). L'interêt majeur étant d'éviter
de faire doublon entre le support exhaustif et la présentation faite à l'oral, en utilisant
un mélange hybride des deux.
</p>
</div>

<div class="slide">
{{ part('Technologies') }}
<p>
    <b>Slidey</b> se base sur plusieurs bibliothèques, dont&nbsp;:
</p>
<ul>
    <li class="discover"><a href="twig.sensiolabs.org/"><b>Twig</b></a>, le moteur 
    de template</li>
    <li class="discover"><a href="http://qbnz.com/highlighter/"><b>GeSHi</b></a>,
    colorisation syntaxique de code</li>
    <li class="discover"><a href="https://github.com/Gregwar/Tex2png"><b>Gregwar/Tex2png</b></a>
    qui permet d'écrire des formules mathématiques</li>
    <li class="discover"><a href="https://github.com/Gregwar/Image"><b>Gregwar/Image</b></a>
    bibliothèque de manipulation d'images</li>
</ul>
</div>

<div class="slide">
{{ part('Comment ça marche ?') }}
<p>
    <b>Slidey</b> fonctionne par exploration récursive afin de construire l'arborescence
de votre document.
</p>
<p class="discover">
    Ensuite, votre document est entièrement «applati» et des pages <b>HTML</b> portables
(c'est à dire non dépendante de <b>PHP</b>) sont générées. Le concept est ressemblant à
celui de Sphinx. Il est intéréssant car il permet&nbsp;:
</p>
<ul>
    <li class="discover">De disposer d'un résultat ne nécéssitant pas de serveur web pour être lu (transportable et lisible sur clé USB par exemple)</li>
    <li class="discover">De profiter d'un gain de performances, car les fichiers ainsi générés sont entièrement statiques</li>
    <li class="discover">De séparer les sources et leur mise à jour du déploiement (système facile et élégant à mettre en place sur un serveur)</li>
</ul>
<p class="discover">
    Pour découvrir en détails le fonctionnement de <b>Slidey</b>, rendez-vous à la rubrique <a href="utilisation.html">utiliser Slidey</a>
</p>
</div>

<div class="slide">
{{ part('Licence') }}
<p>
    <b>Slidey</b> est sous licence <b>MIT</b>.
</p>
<p class="discover">
    Cependant, les documents faits avec <b>Slidey</b> eux-même peuvent bien entendus être
soumis à d'autre modèles de licence moins permissives.
</p>
</div>
